:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  background-color: #f2f2f2;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  background-image: url("background.png");
  background-repeat: no-repeat;
  /* 背景图片大小 */
  background-size: cover;
  /* 背景图片位置 */
  background-position: center center;

  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-family: 楷体, KaiTi, "Microsoft YaHei", sans-serif;
  font-weight: bold;
  position: absolute;
  top: 0rem; /* 距离顶部的距离 */
  left: 50%; /* 距离左侧的距离 */
  transform: translateX(-50%);
  margin-top: 20px; /* 设置上边距 */
  font-size: 3vw;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}


#app {
  width: 550px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background-color: #ffffff; /* 设置中间区域的背景颜色 */

}

